service sys_keystore /system/bin/keystore /data/misc/keystore
    user root
    group root drmrpc readproc
    setenv PATH /system/bin
    setenv LD_LIBRARY_PATH /system/lib64:/system/lib
    disabled
    oneshot
    seclabel u:r:vold:s0
